body {
    background-color: #ededfa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title-image {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    vertical-align: middle;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3b3c36;
    padding: 10px;
    color: #98817b;
    height: 100px;
}

.navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: #c2a9a4;
}

.container {
    flex: 1;
    padding: 20px;
}

h1, h3 {
    color: #343A40;
}

hr {
    border: 1px solid #343A40;
}

#mainContent {
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    width: calc(100% - 500px);
    box-sizing: border-box;
}

#calendarView, #addItemView {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 100%;
    width: calc(100% - 500px);
    margin: 0 auto;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #cdcde8;
    font-size: 14px;
    cursor: pointer;
}

.day.header {
    color: white;
    font-weight: bold;
    background-color: #3c3c3c;
    cursor: default;
}

.day:hover {
    background-color: #848494;
}

.timer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 500px);
    margin-top: 20px;
}

.timer-box {
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.red-timer {
    font-size: 30px; 
    padding: 150px 150px; 
    border-radius: 24px;
    justify-content: center;
    align-items: center; 
    background-color: #932222; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: transform 0.2s, background-color 0.2s;}

.red-timer:hover {
    background-color: #5b1616; 
    transform: scale(1.05);}
.red-timer:active{
    transform: scale(0.95);
}


.green-timer {
    font-size: 30px; 
    padding: 150px 150px; 
    border-radius: 24px; 
    background-color: #437545; 
    color: white; 
    border: none;
    cursor: pointer; 
    transition: transform 0.2s, background-color 0.2s;
}

.green-timer:hover {
    background-color: #284129;
    transform: scale(1.05);}
    .green-timer:active{
        transform: scale(0.95);
    }


.pause-timer {
    font-size: 15px; 
    padding: 10px 10px; 
    border-radius: 8px; 
    background-color: #ffc107; 
    color: rgb(0, 0, 0); 
    border: none; 
    cursor: pointer; 
    transition: transform 0.2s, background-color 0.2s; 
}

.pause-timer:hover {
    background-color: #e0a800; 
    transform: scale(1.05); 
}

.pause-timer:active {
    transform: scale(0.95); 
}    
.save-game {
    margin: 5px;
    font-size: 15px; 
    padding: 10px 10px; 
    border-radius: 8px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: transform 0.2s, background-color 0.2s; 
}

.save-game:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

.save-game:active {
    transform: scale(0.95); 
}
.save-study {
    font-size: 15px; 
    padding: 10px 10px; 
    border-radius: 8px; 
    background-color: #007bff; 
    color: white; 
    border: none;
    cursor: pointer; 
    transition: transform 0.2s, background-color 0.2s; 
}

.save-study:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

.save-study:active {
    transform: scale(0.95); 
}
    

#timerDisplay1, #timerDisplay2 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #343A40;
    font-weight: bold;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #686d65;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1001;
    display: block;
    max-height: 50%;
    overflow-y: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.modal-header h3 {
    color: white;
    margin: 0;
    font-size: 18px;
}

.modal-body {
    font-size: 16px;
}

.close-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #e16c78;
}

.close-button:hover {
    color: #FF0000;
}

.sidebar {
    position: absolute;
    top: 100px;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #4f554b;
    color: white;
    padding: 20px;
}

.sidebar h3 {
    color: #a28483;
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    font-size: 20px;
    color: #f7cac9;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #af8988;
    font-size: 22px;
}
.button-style {
    margin-top: 15px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #56513e;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.button-style:hover {
    background-color: #3f3d35;
    transform: scale(1.05);
}

.button-style:active {
    transform: scale(0.95);
}
.day.has-data {
    background-color: gold;
    color: black;
    font-weight: bold;
    border-radius: 5%;
  }
  .day.has-data:hover {
    background-color: rgb(158, 135, 6);
    color: black;
    font-weight: bold;
    border-radius: 5%;
  }
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #deleteAll {
    margin-left: 800px;
  }